@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@600&display=swap');
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css);

* {
  margin: 0px;
  padding: 0px;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: white;
  width: 100vw;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}

header {
  top: 0;
  left: 0;
  z-index: 10;
  position: fixed;
  height: 10vh;
  width: 100%;
}

#menu-ico {
  height: 45px;
  width: 45px;
  position: fixed;
  top: 16px;
  left: 16px;
  visibility: hidden;
}

#menu-ico img {
  height: 80%;
  width: 80%;
}

nav {
  display: flex;
  flex-direction: row;
  background-color: whitesmoke;
  width: 100%;
  height: 100%;
  box-shadow: 0px 2px 4px 0px grey;
}

.m-nav {
  height: 100vh;
  flex-direction: column;
  width: 60vw;
  visibility: visible;
  position: absolute;
  z-index: 10;
}

#home-page-link {
  display: flex;
  width: 20%;
  text-decoration: none;
}

#logo {
  margin: 10px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

#logo img {
  height: 35px;
  width: 40px;
  border: solid 2px black;
  border-radius: 50%;
  background-color: grey;
}

#logo h1 {
  font-family: "Nunito", sans-serif;
  font-size: 1.4rem;
  margin-left: 9px;
  color: grey;
}

.menu {
  width: 50%;
  margin: 0px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  list-style-type: none;
}

.menu li {
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 50px;
  padding: 0px 22px;
  transition: background-color ease 0.4s;
  margin-left: 15px;
}

.menu li:hover {
  background-color: lightgrey;
  border: solid 1px black;
}

.menu li a {
  font-family: "Nunito", sans-serif;
  font-size: 1.2rem;
  text-decoration: none;
  color: black;
}

/* social icons */

#social-icons {
  margin-left: 35%;
  display: flex;
  flex-direction: row;
  justify-content:center;
  align-items: center;
  list-style-type: none;
}

#social-icons {
  margin: 0px;
  width: 40%;
}

#social-icons li {
  margin-left: 20px;
}

.footer-social-icons {
  width: 330px;
  display: block;
  margin: 0 auto;
}

.social-icon {
  color: whitesmoke;
}

ul.social-icons {
  margin-top: 10px;
}

.social-icons li {
  vertical-align: top;
  display: inline;
  height: 100px;
}

.social-icons a {
  color: white;
  text-decoration: none;
}

.fb {
    padding: 10px 14px;
  -o-transition: background-color 0.3s;
  -ms-transition: background-color 0.3s;
  -moz-transition: background-color 0.3s;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
  background-color: #322f30;
}

.fb:hover {
    background-color: #3d5b99;
}

.twitter {
  padding: 10px 14px;
  -o-transition: background-color 0.3s;
  -ms-transition: background-color 0.3s;
  -moz-transition: background-color 0.3s;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
  background-color: #322f30;
}

.twitter:hover {
  background-color: #00aced;
}

.youtube {
  padding: 10px 14px;
  -o-transition: background-color 0.3s;
  -ms-transition: background-color 0.3s;
  -moz-transition: background-color 0.3s;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
  background-color: #322f30;
}

.youtube:hover {
    background-color: #e64a41;
}

.linkedin {
  padding: 10px 14px;
  -o-transition: background-color 0.3s;
  -ms-transition: background-color 0.3s;
  -moz-transition: background-color 0.3s;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
  background-color: #322f30;
}

.linkedin:hover {
  background-color: #0073a4;
}

.github {
  padding: 10px 14px;
  -o-transition: background-color 0.3s;
  -ms-transition: background-color 0.3s;
  -moz-transition: background-color 0.3s;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
  background-color: #322f30;
}

.github:hover {
  background-color: #5a32a3;
} */

/* Main Section */

#welcome-page {
  position: relative;
  background-color: grey;
  height: 84vh;
  width: 100%;
}

#main {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #f0f2f5;
}

/* Search Bar */

#search-bar {
  margin-top: 8%;
}

#search-logo {
  cursor: pointer;
  background-color: gainsboro;
  top: 15%;
  left: 35%;
  height: 60px;
  width: 300px;
  position: absolute;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 20px;
  justify-content: center;
}

#search-logo h6 {
  padding-left: 10px;
  width: 75%;
  height: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: black;
  font-size: 1rem;
  border: 2px solid transparent;
  border-radius: 20px;
}

#search-logo img {
  height: 40px;
  width: 40px;
}

#search-bar {
  position: relative;
}

#search-bar ul {
  z-index: 10;
  list-style-type: none;
  margin: 0px !important;
  top: 72px;
  left: 31.5%;
  position: absolute;
  width: 430px;
  background-color: white;
}

#search-bar li {
  padding-left: 2%;
  width: 98%;
  z-index: 10;
  display: flex;
  align-items: center;
  height: 50px;
}

#search-bar li:hover {
  background-color: #2b28293b;
}

#search-bar li a {
  text-decoration: none;
  color: #322f30;
}

/* Card Section  */

#cards-page {
  z-index: -10;
  width: 100vw;
  height: 7vh;
  top: 115vh;
  position: absolute;
}

#meals-list {
  justify-content: center;
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

#m-home-page-link {
  visibility: hidden;
  position: absolute;
}

#close-btn {
  visibility: hidden;
  position: absolute;
  height: 20px;
  width: 20px;
  top: 72%;
  left: 49%;
}

#close-btn img {
  height: 100%;
  width: 100%;
}

@media only screen and (max-width: 900px) and (min-width: 300px) {
  .menu li a:hover {
    background-color: whitesmoke;
  }

  .menu li a {
    padding: 10px 40px;
  }

  .menu li:hover {
    background-color: transparent;
    border: none;
  }

  #close-btn {
    visibility: inherit;
  }
  #close-btn:focus ~ #nav {
    visibility: hidden;
  }

  header {
    z-index: 10;
    height: 11vh;
    box-shadow: 0px 2px 2px 0px #34343460;
    background-color: white;
  }

  #logo {
    margin-top: 16px;
  }

  #m-home-page-link {
    text-decoration: none;
    left: 30%;
    visibility: visible;
    position: absolute;
  }

  #menu-ico {
    visibility: visible;
  }

  body {
    position: relative;
  }

  nav {
    position: fixed;
    visibility: hidden;
    position: absolute;
    height: 100vh;
    flex-direction: column;
    width: 60vw;
    z-index: 10;
  }

  #home-page-link {
    visibility: hidden;
    position: absolute;
  }

  #nav:target {
    visibility: visible;
  }
  .menu {
    height: 50%;
    flex-direction: column;
    margin-top: 30%;
    width: 100%;
  }

  .menu li {
    padding: 0px;
    text-align: left;
    margin-left: 0px;
    margin-top: 20px;
    width: 100%;
  }

  #main {
    background-color: grey;
  }

  #social-icons {
    align-items: flex-end;
    margin-left: 14%;
    margin-bottom: 22px;
    height: 50%;
    width: 70%;
  }

  #search-bar {
    margin-top: 25%;
  }

  #social-icons li {
    margin: 1px;
    margin-left: 2px;
  }

  #welcome-page {
    position: absolute;
    visibility: hidden;
  }

  #search-bar ul {
    left: 6%;
  }
}